<html>
    <head>
        <title>Ti pidor</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Ti pidor</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Etot blog posvyashen tomu kakoi ti pidor</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Znali bi vse kakoi ti pidor s toboi bi ne drujili</p>
        </div>
    </body>
</html>